<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
<title>List of BidList</title>
</head>
<body>
<div class="container">
  <div th:if=${messageSuccess} class="alert alert-success text-center" role="alert">
  	[[${messageSuccess}]]
  </div>
	<div class="row d-flex justify-content-center align-items-center" style="height: 700px">
	    <div class="col-md-5 mt-2" style="background-color: black; height: 700px">				
 			<div class="position-absolute top-50" style="color: white">
 				<div class="text-center col-md-6 offset-md-3 mt-5">
 				<h1>User Interface functionality</h1>
 				<div class="mt-5">
 					<h2>Bid 2.2</h2>
				</div>
 				</div>
	    	</div>
    	</div>
    	<div class="col-md-7" style="height: 700px">
    		<div class="row mt-4 offset-md-4">
				<h2>List of All Bid</h2>
			</div>
			<div class="row">
				<div class="col-md-12 offset-md-1" style="font-size: 10px">
					<div class="row mt-3" style="font-size: 10px">
						<div class="col-md-6"> 
							<a href="/">Home</a>&nbsp;|&nbsp;
							<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
							<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
							<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
							<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
							<a href="/ruleName/list">Rule</a>
						</div>
						<div class="col-md-5 text-end">
							Logged in user: <b th:inline="text"  class="user"> [[${principal}]] </b> <!-- #httpServletRequest.remoteUser -->
							<a th:href="@{/logout}">Logout</a>&nbsp;|&nbsp;
						</div>
					</div>
					<div class="row text-center mt-5">
						<h4>Bid List</h4>
					</div>
					<div class="row">
						<div class="text-end">
							<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
						</div>
						<table class="mt-3 table table-bordered text-center table-md" style="font-size: 10px">
							<thead>
								<tr>
									<th>Id</th>
									<th>Account</th>
									<th>Type</th>
									<th>Bid Quantity</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
<!-- 							TODO: Show all Bids to the table, the Action column will have Edit & Delete buttons -->
								<tr th:each="bidList : ${bidList}">
									<td style="width: 10%" th:text="${bidList.id}"></td>
									<td th:text="${bidList.account}"></td>
									<td th:text="${bidList.type}"></td>
									<td th:text="${bidList.bidQuantity}"></td>
									<td style="width: 15%" class="text-center">
										<a th:href="@{/bidList/update/{id}(id=${bidList.id})}">Edit</a>&nbsp;|&nbsp;
										<a th:href="@{/bidList/delete/{id}(id=${bidList.id})}">Delete</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>